{% load static %}

<head>
    <title>django test</title>
    <meta name=“viewport” content=“width=devicewidth, initial-scale=1.0”>
</head>
<body>
<p> 호롤룰루 </p>
<button type ="button">click!</button>
<link rel=“icon” href=“{% static 'css/blog.css' %}”>

<div>
    <h1>
      <a href="/"> 원래화면으로! <a>
      <p>다시 </p></a>
    </h1>

</div>
<div>
    <h1>
        <a href="/admin"> 관리자화면으로! <a>
    </h1>
</div>
<form>
    <input type = "text" placeholder="여기에 적으세용">
    <button type ="button">제출!</button>
</form>
<ul>
    <li>하나</li>
    <li>둘</li>
    <li>셋</li>
</ul>
</body>